@ font-face {
  font-family: "Gotham Black";
  src: local(gotham-black), url('./fonts/Gotham-Black.otf'), format('opentype');
}

@ font-face {
  font-family: "Gotham Medium";
  src: local(gotham-medium), url('./fonts/Gotham-Medium.otf'), format('opentype');
}

@ font-face {
  font-family: "Gotham Medium";
  src: local(gotham-ultra), url('./fonts/Gotham-Ultra.otf'), format('opentype');
}

