@ font-face {
  font-family: "Gotham Black";
  src: url('./fonts/Gotham-Black.otf'), format('opentype');
}

@ font-face {
  font-family: "Gotham Medium";
  src: url('./fonts/Gotham-Medium.otf'), format('opentype');
}

@ font-face {
  font-family: "Gotham Medium";
  src: url('./fonts/Gotham-Ultra.otf'), format('opentype');
}

